script(type='text/javascript').
  var api = "!{api}";
script(type='text/javascript', src='/javascripts/includes/user.js')
script(src='https://code.jquery.com/jquery-2.2.4.js')
script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
link(href='/stylesheets/bootstrap.css', rel='stylesheet', media='screen')
