nav.navbar.navbar-default
  .navbar-header
    a.navbar-brand(href='/')
      img(src='/images/titlebar.png')
    button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar')
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .navbar-collapse.collapse#navbar
    ul.nav.navbar-nav#navbar-links(style='display: none;')
      li#navbar-home
        a(href='/') Home
      li#navbar-audio
        a(href='/get_audio_recordings') Audio
      li#navbar-recordings
        a(href='/get_recordings') Recordings
      li#navbar-groups
        a(href='/groups') Groups
      li#navbar-devices
        a(href='/devices') Devices
      li#navbar-devices
        a(href='/setup_audio') Audio bait
      li#navbar-data
        a(href='/data') <i class="fas fa-chart-bar"></i> Data
    // Shown when the user is logged in.
    ul#navbar-user-details.nav.navbar-nav.navbar-right(style="display: none;")
      li
        a#navbar-hello-user User
      li
        a#navbar-logout Logout
    // Shown when the user is not logged in.
    ul#navbar-login.nav.navbar-nav.navbar-right(style="display: none;")
      li
        a(href='/login') Login
      li
        a(href='/register') Register

script(type='text/javascript', src='/javascripts/includes/navbar.js')
