nav.navbar.navbar-light.navbar-expand-md.bg-light
  a.navbar-brand(href='/')
    img(src='/images/titlebar.png')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar')
    span.navbar-toggler-icon
  .navbar-collapse.collapse#navbar
    .nav.navbar-nav#navbar-links(style='display: none;')
      a.nav-item.nav-link#navbar-home(href='/') Home
      a.nav-item.nav-link#navbar-audio(href='/get_audio_recordings') Audio
      a.nav-item.nav-link#navbar-recordings(href='/get_recordings') Recordings
      a.nav-item.nav-link#navbar-groups(href='/groups') Groups
      a.nav-item.nav-link#navbar-devices(href='/devices') Devices
      a.nav-item.nav-link#navbar-devices(href='/setup_audio') Audio bait
    // Shown when the user is logged in.
    .nav.nvbar-nav.ml-auto#navbar-user-details(style="display: none;")
      a.nav-item.nav-link#navbar-hello-user User
      a.nav-item.nav-link#navbar-logout Logout
    // Shown when the user is not logged in.
    .nav.navbar-nav.ml-auto#navbar-login(style="display: none;")
      a.nav-item.nav-link(href='/login') Login
      a.nav-item.nav-link(href='/register') Register

script(type='text/javascript', src='/javascripts/includes/navbar.js')
