
h3 Observed animals
table.tag-summary.table.table-hover
  thead
    tr
      th(type='animal') Animal
      th
      th(title='Confidence') Conf
      th(title='Who analysed the footage?') By who
      th(title='When did they analyse the footage?') When
      th Additional info
      th
  tbody#tags-table
    tr.no-tags#no-tags
      td(colspan=7) No tags have been recorded for this video