div.quicktags
    input.col-xs-2.col-md-1(type="image", title="possum", src='/images/possum.png'  onclick="tags.quickNew('possum')" )
    input.col-xs-2.col-md-1(type="image", title="stoat", src='/images/stoat.png'  onclick="tags.quickNew('stoat')" )
    input.col-xs-2.col-md-1(type="image", title="rat", src='/images/rat.png' onclick="tags.quickNew('rat')")
    input.col-xs-2.col-md-1(type="image", title="hedgehog", src='/images/hedgehog.png', onclick="tags.quickNew('hedgehog')" )
    input.col-xs-2.col-md-1(type="image", title="cat", src='/images/cat.png', onclick="tags.quickNew('cat')" )
    input.col-xs-2.col-md-1(type="image", title="human", src='/images/human.png', onclick="tags.quickNew('human')" )
    input.col-xs-2.col-md-1(type="image", title="bird",  src='/images/bird.png', onclick="tags.quickNew('bird')" )
    input.col-xs-2.col-md-1(type="image", title="kiwi",  src='/images/kiwi.png', onclick="tags.quickNew('bird/kiwi')" )
    input.col-xs-2.col-md-1.clearfix(type="image", value="none", src='/images/none.png', title="false positive", onclick="tags.falsePositive()" )
