script(type='text/javascript', src='/javascripts/includes/tags.js')

form.form-horizontal#tagForm(onsubmit="return false")
  .form-group
    label.col-xs-2.text-right Animal:
    select#tagAnimalInput
      option bird
      option bird/kiwi
      option rat
      option possum
      option hedgehog
      option stoat
      option ferret
      option weasel
      option mouse
      option cat
      option dog
      option rabbit
      option hare
      option human
      option spider
      option insect
      option other
      option unidentified
  .form-group
    label.col-xs-2.text-right Number:
    input#tagNumberInput(type="number", value=1)
  .form-group
    label.col-xs-2.text-right Event:
    select#tagEventInput
      option just wandering about
      option false positive
      option interaction with lure
      option interaction with trap
      option set trap to activate
      option trapped in trap
      option other
  .form-group
    label.col-xs-2.text-right Confidence:
    label Low
    input(name="tagConfidenceInput", type="radio", value=0.4)
    label Mid
    input(name="tagConfidenceInput", type="radio", value=0.6)
    label High
    input(name="tagConfidenceInput", type="radio", value=0.8, checked)
  .form-group
    label.col-xs-2.text-right Age:
    input#tagAgeInput(type="text", placeholder="Years:Months", value="", pattern="(\\d)?(\\d):(\\d)?(\\d)", title="Years:Months (3:0)")
  .form-group
    label.col-xs-2.text-right Trap type:
    select#tagTrapTypeInput
      option
      option Good Nature possums
      option Good nature rat
      option Short live capture
      option Long live capture
      option Timms
      option Doc 200
      option Trapinator
      option Rat poison station
      option other
  .form-group
    label.col-xs-2.text-right Start time:
    input#tagStartTimeInput(type="text", placeholder="min:sec", value="0:00", pattern="(\\d)?(\\d):[0-5][0-9]", title="Minutes:Seconds (2:31)")
    button(onclick="goToStartTime(this)") go to start time
    button(onclick="setStartTimeAsCurrentTime()") set to current time
  .form-group
    label.col-xs-2.text-right End Time:
    input#tagStopTimeInput(type="text", placeholder="min:sec", value="", pattern="(\\d)?(\\d):[0-5][0-9]", title="Minutes:Seconds (2:31)")
    button(onclick="goToEndTime()") go to end time
    button(onclick="setEndTimeAsCurrentTime()") set to current time
table(class="table table-hover")
  thead
    tr
      th(type='type') Tag Type
      th(type='animal') Animal
      th(type='number') Number
      th Event
      th Confidence
      th Tagged by
      th Tagged on
      th Age
      th Start Time
      th Duration
      th Trap Type
      th
  tbody#tags-table
