
h3 Identified animals
table.tag-summary.table.table-hover
  thead
    tr
      th(type='type') 
      th(type='animal') Animal
      th Confidence
      th Tagged by
      th Tagged on
      th
  tbody#tags-table