doctype html
html
  head
    title Cacophony login
    include includes/base.pug
    include includes/bootstrap4.pug
    script(type='text/javascript', src='javascripts/login.js')
    script(type='text/javascript').
      var next = "!{next}";
    link(href='/stylesheets/heroImage.css', rel='stylesheet', media='screen')

  body
    include includes/navbar.pug
    div.hero
    div.container.col-md-6.col-lg-5
      h2 Login
      form#login-form
        .form-group
          label Username
          input.form-control#inputUsername(type='text' autofocus)
              
        .form-group
          label Password
          input.form-control#inputPassword(type='password')
        
        .form-group
          input.btn#login(type='button', value='Sign in')
            
    include includes/footer.pug
