doctype html
html
  head
    title Cacophony login
    include includes/base.pug
    script(type='text/javascript', src='javascripts/login.js')
    script(type='text/javascript').
      var next = "!{next}";

  body
    include includes/navbar.pug
    div(class='container bs-docs-container')
      h2.
        Login
      form#login-form.form-horizontal
        .form-group
          label.col-sm-2 Username
          .col-sm-4
            input.form-control#inputUsername(type='text' autofocus)
              
        .form-group
          label.col-sm-2 Password
          .col-sm-4
            input.form-control#inputPassword(type='password')
        
        .form-group
          .col-sm-2
            input.btn#login(type='button', value='Sign in')
            
