doctype html
html
  head
    title New Group
    include includes/base.pug
    script(type='text/javascript', src='javascripts/newGroup.js')


  body
    include includes/navbar.pug
    
    .container.col-md-6.col-lg-5
      h2 Register
      form#register-form
        .form-group
          label Group Name
          input.form-control#group-name(type='text' placeholder='groupname')

        .form-group
          input.btn#new-group(type='button', value='Create')

    include includes/footer.pug
