doctype html
html
  head
    title Register
    include includes/base.pug
    include includes/bootstrap4.pug
    script(type='text/javascript', src='javascripts/register.js')
    link(href='/stylesheets/register.css', rel='stylesheet')

  body
    include includes/navbar.pug
  div.container.col-md-6.col-lg-5
    h2 Register
    form#register-form
      .form-group
        label Username
        input.form-control#username(type='text' pattern='^[a-zA-Z0-9]+(?:[_ -]?[a-zA-Z0-9])*$'
          placeholder='letters and numbers only' autofocus)

      .form-group
        label Email
        input.form-control#email(type='')

      .form-group
        label Password
        input.form-control#password(type='password' pattern='.{8,}' placeholder='8 or more characters')

      .form-group
        label Retype Password
        input.form-control#passwordRetype(type='password' pattern='.{8,}' placeholder='must match')

      .form-group
        input.btn#register(type='submit', value='Register')

    include includes/footer.pug
