
doctype html
html
  head
    title Setup Audio Lure Schedule
    include includes/base.pug
    link(href='/stylesheets/setupAudio.css', rel='stylesheet', media='screen')
    script(src="javascripts/includes/jquery.serializejson.min.js")
    script(type='text/javascript', src='javascripts/includes/util.js')
    script(type='text/javascript', src='javascripts/includes/timeUtil.js')
    script(src="javascripts/setupAudio.js")

  body
    include includes/navbar.pug

    .cacophony-page.max-width
      h1#Setup.col-xs-12.col-sm-8 Setup Audio Lure Schedule

      div#loading-message.col-xs-12 Loading your devices...

      #choose-device.hide.row.col-xs-12
        label.col-sm-4 Choose device
        select#deviceSelect.cml-sm-6(onchange="getSchedule()")
          option &lt;select your device&gt;

      form#audio-schedule.hide
        div.schedulesave.col-sm-4.col-xs-12.right
          input.col-xs-4(type="image", title="Get device settings", src='/images/load.png')
          input.col-xs-4(type="image", title="Save", src='/images/save.png', onclick="saveSchedule(event);" )
        div.clearfix

        div.row
          label.col-xs-4 Schedule description
          input.col-xs-8(name="description", value="")

        div.schedule-devices
          div.row
            h3.col-xs-10 Devices
            img.add.col-xs-2(type="image", title="Add device", src='/images/plus.png')
          .devices
        div.clearfix

        h3.col-xs-12 Schedule
        .combos

        input.add-another-button.col-xs-8.col-xs-offset-2.col-sm-4.col-sm-offset-4(type='button', value='Add another combo', onClick="addNewCombo()")

    #schedule-combo-template.hide
      .schedule-combo
        img.delete.col-xs-1(type="image", title="Delete combo", src='/images/delete.png')
        .combo-timing.col-xs-11.col-sm-5

          .form-group.row
            label.col-xs-4 Every
            input.col-xs-7(name="[every]:asWait", value="10 mins")

          .form-group.row
            label.col-xs-4 from time
            input.col-xs-7(name="[from]", value="7:30pm")

          .form-group.row
            label.col-xs-4 until
            input.col-xs-7(name="[until]", value="9:30pm")

        .soundcombo.col-xs-12.col-sm-6
          h4 Sounds

          .sounds

          .form-group.row.col-xs-4
            input.add-another-button(type='button', value='Add another sound')

      #sound-template.hide
        .sound
          .wait.form-group.row
            label.right.col-xs-4 then wait
            input.col-xs-7(name="[waits][]:asWait", value="10 mins")
          .form-group.row
            label.col-xs-4 play sound
            select.sound_file.col-xs-7(name="[sounds][]")
            input.delete.col-xs-1(type="image", title="Delete sound", src='/images/delete.png')
          div.clearfix

      #device-template.hide
        .device.row.col-xs-12.col-sm-6
          input.delete.col-xs-1(type="image", title="Remove device", src='/images/delete.png')
          label.col-xs-11

      #additional-device-template.hide
        .additional-device.row.col-xs-12.col-sm-6
          input.delete.col-xs-1(type="image", title="Remove device", src='/images/delete.png')
          select.cml-xs-11
            option &lt;select your device&gt;
