doctype html
html
  head
    title View Recording
    include includes/base.pug
    script(type'text/javascript').
      var id = !{id};
    script(type='text/javascript', src='/javascripts/viewRecording.js')
    link(href='/stylesheets/videoRecording.css', rel='stylesheet', media='screen')

  body
    include includes/navbar.pug

    .container.view-recording
      .div.col-12.col-lg-8
        .div
          h2 '
            i#device-text
            | '&nbsp;&nbsp;-&nbsp;&nbsp;
            span#date-text
            | &nbsp;
            span#time-text
          video#player.center-block(width=100, controls)
            Browser not supported for playing video.
        include includes/tagsQuick.pug
        div.hidden#detailedAddTagForm
          include includes/tags.pug
        include includes/tagSummary.pug

      div.col-12.col-lg-4
        .form-horizonal
          .form-group
            label.col-xs-3 Processing
            .col#processing-state-text
          .form-group
            label.col-xs-3 Comment
            input.col-xs-7#comment-text
            | &nbsp;
            button.col(onclick="updateComment()") Save
          .form-group
            button.col(onclick="deleteRecording()") Delete
          .form-group.button-row
            button.col-xs-4(onclick="nextRecording('previous', 'any')" title="Previous for device") < Device
            button.col-xs-4(onclick="nextRecording('next', 'any')" title="Next for device") Device >
          .form-group.button-row
            button.col-xs-4(onclick="nextRecording('previous', 'no-human')" title="Previous for device, not manually tagged") < Untagged
            button.col-xs-4(onclick="nextRecording('next', 'no-human')" title="Next for device, not manually tagged") Untagged >
          .form-group.button-row
            button.col-xs-4(onclick="nextRecording('previous', 'any', ['interesting'])" title="Previous for device, skipping bird & F/P") < Interesting
            button.col-xs-4(onclick="nextRecording('next', 'any', ['interesting'])" title="Next for device, skipping birds & F/P") Interesting >

