doctype html
html
  head
    title View Recording
    include includes/base.pug
    script(type'text/javascript').
      var id = !{id};
    script(type='text/javascript', src='/javascripts/viewRecording.js')
    link(href='/stylesheets/videoRecording.css', rel='stylesheet', media='screen')

  body
    include includes/navbar.pug
    .container
      .container.col-md-6
        video#player.center-block(width=100, controls)
          Browser not supported for playing video.
      .col-md-6
        .form-horizonal
          .form-group
            label.col-xs-3 Device
            .col#device-text
          .form-group
            label.col-xs-3 Time
            .col
              span#date-text
              | &nbsp;
              span#time-text
          .form-group
            label.col-xs-3 Processing
            .col#processing-state-text
          .form-group
            label.col-xs-3 Comment
            input.col-xs-7#comment-text
            | &nbsp;
            button.col(onclick="updateComment()") Save
          .form-group
            button.col(onclick="deleteRecording()") Delete
          .form-group.button-row
            button.col-xs-4(onclick="nextRecording('next', 'any')" title="Next for device") < Device
            button.col-xs-4(onclick="nextRecording('previous', 'any')" title="Previous for device") Device >
          .form-group.button-row
            button.col-xs-4(onclick="nextRecording('next', 'no-human')" title="Next for device, not manually tagged") < Untagged
            button.col-xs-4(onclick="nextRecording('previous', 'no-human')" title="Previous for device, not manually tagged") Untagged >
          .form-group.button-row
            button.col-xs-4(onclick="nextRecording('next', 'any', ['interesting'])" title="Next for device, skipping birds & F/P") < Interesting
            button.col-xs-4(onclick="nextRecording('previous', 'any', ['interesting'])" title="Previous for device, skipping bird & F/P") Interesting >
          .form-group.button-row
            input.col-xs-4(type="submit", value="Add new tag", onclick="tags.new()" )
            button.col-xs-4(onclick="falsePositive()") False positive

    include includes/tags.pug
