doctype html
html
  head
    title Video Recordings
    include includes/base.pug
    link(href='/stylesheets/viewVideos.css', rel='stylesheet')
    script(type='text/javascript').
      var irId = !{irId};
      var thermalId = !{thermalId};
    script(type='text/javascript', src='/javascripts/viewIrAndThermal.js')

  body
    include includes/navbar.pug
    div
      div#doubleVideoDiv.double-vid
        video#irVideo.primary-vid
        video#thermalVideo.secondary-vid
      div
        div#doubleVideoCon
          button#play(onclick="playPause(this)") Play
          button#back(onclick="videoBack()") <
          button#forward(onclick="videoForward()") >
          input#videoSlider(type='range', min=0, value=0)
          label#videoTime 0:00
      div
        label.text-right Recording time:
        div#recordingTimeText
        br
        label.text-right Location:
        div#locationText

    include includes/tags.pug
