doctype html
html
  head
    title View Recording
    include includes/base.pug
    include includes/bootstrap3.pug
    script(type'text/javascript').
      var id = !{id};
    script(type='text/javascript', src='/javascripts/viewRecording.js')
    link(href='/stylesheets/videoRecording.css', rel='stylesheet', media='screen')

  body.view-recordings-page
    include includes/navbar-bootstrap3.pug

    .container.view-recording
      .div.col-12.col-lg-8
        .div#player-container
          h3 '
            i#device-text
            | '&nbsp;&nbsp;-&nbsp;&nbsp;#
            span#id-text
            | &nbsp;&nbsp;-&nbsp;&nbsp;
            span#date-text
            | &nbsp;
            span#time-text
          video#player.center-block(width=100, controls)
            Browser not supported for playing video.
        include includes/tagsQuick.pug
        div.next-buttons.col-xs-12.col-md-6.col-md-offset-3
          input.col-xs-2(type="image", title="Previous for device, skipping bird & false-positives", src='/images/previous-interesting.png'  onclick="nextRecording('previous', 'any', ['interesting'])" )
          input.col-xs-2(type="image", title="Previous for device, not manually tagged", src='/images/previous-no-human.png'  onclick="nextRecording('previous', 'no-human')" )
          input.col-xs-2(type="image", title="Previous for device", src='/images/previous.png'  onclick="nextRecording('previous', 'any')" )
          input.col-xs-2(type="image", title="Next for device", src='/images/next.png'  onclick="nextRecording('next', 'any')" )
          input.col-xs-2(type="image", title="Next for device, not manually tagged", src='/images/next-no-human.png'  onclick="nextRecording('next', 'no-human')" )
          input.col-xs-2(type="image", title="Next for device, skipping birds & false-positives", src='/images/next-interesting.png'  onclick="nextRecording('next', 'any', ['interesting'])" )
        div.clearfix

        div.hidden#detailedAddTagForm
          include includes/tags.pug
        include includes/tagSummary.pug

      div.vid-properties.col-12.col-lg-4
        h3 Properties
        .form-horizonal
          .form-group
            label.col-xs-4 Processing
            col-xs-8#processing-state-text Unknown file state
          .form-group
            label.col-xs-4 Comment
            input.col-xs-6#comment-text
            | &nbsp;
            button.col(onclick="updateComment()") Save
          .form-group
            button.col(onclick="deleteRecording()") Delete Recording
            
      div.col-12.col-lg-4
        h3 Download Files
        .form-horizontal
          .form-group
            label.col-xs-4 Raw (CPTV)
            button#rawDownload Download Raw
          .form-group
            label.col-xs-4 Processed
            button#processedDownload Download Processed

      div.next-buttons-help.col-xs-12.col-lg-4
        hr.col-xs-8.col-xs-offset-2
        div.clearfix
        h3 Help
        div.row
          img.col-xs-2.col-lg-3(src='/images/previous.png')
          img.col-xs-2.col-lg-3(src='/images/next.png')
          p.col-xs-6 Move between recordings for device
        div.row
          img.col-xs-2.col-lg-3(src='/images/previous-no-human.png')
          img.col-xs-2.col-lg-3(src='/images/next-no-human.png')
          p.col-xs-6 Move between recordings for device which have not been manually tagged
        div.row
          img.col-xs-2.col-lg-3(src='/images/previous-interesting.png')
          img.col-xs-2.col-lg-3(src='/images/next-interesting.png')
          p.col-xs-6 Move between 'interesting' tagged recordings for device where the first tag is not a a bird or false/positive
