doctype html
html
  head
    title View Recording
    include includes/base.pug
    script(type'text/javascript').
      var id = !{id};
    script(type='text/javascript', src='/javascripts/viewRecording.js')
    link(href='/stylesheets/videoRecording.css', rel='stylesheet', media='screen')

  body
    include includes/navbar.pug
    .container
      h3.center-block Video Player
      .container.col-md-6
        video#player.center-block(width=100, controls)
          Brouser not supported for playing video.
      .container.col-md-6
        .form-horizontal
          .form-group
            label.col-xs-3.text-right Date:
            div.col-xs-2#date-text
            button.col-xs-5(onclick="deleteRecording()") Delete
          .form-group
            label.col-xs-3.text-right Time:
            div#time-text
          .form-group
            label.col-xs-3.text-right Device:
            div#device-text
          .form-group
            label.col-xs-3.text-right Processing state:
            div#processing-state-text
          .form-group
            button.col-xs-5(onclick="previousRecording()") Previous from device
            button.col-xs-5(onclick="previousRecording(false)") Previous not tagged
          .form-group
            button.col-xs-5(onclick="nextRecording()") Next from device
            button.col-xs-5(onclick="nextRecording(false)") Next not tagged
    include includes/tags.pug
