doctype html
html
  head
    title View Recording
    include includes/base.pug
    script(type'text/javascript').
      var id = !{id};
    script(type='text/javascript', src='/javascripts/viewRecording.js')
    link(href='/stylesheets/videoRecording.css', rel='stylesheet', media='screen')

  body.view-recordings-page
    include includes/navbar.pug

    .container.view-recording
      .div.col-12.col-lg-8
        .div
          h2 '
            i#device-text
            | '&nbsp;&nbsp;-&nbsp;&nbsp;
            span#date-text
            | &nbsp;
            span#time-text
          video#player.center-block(width=100, controls)
            Browser not supported for playing video.
        include includes/tagsQuick.pug
        div.next-buttons.col-xs-12.col-md-6.col-md-offset-3
          input.col-xs-2(type="image", title="Previous for device, skipping bird & false-positives", src='/images/previous-interesting.png'  onclick="nextRecording('previous', 'any'['interesting'])" )
          input.col-xs-2(type="image", title="Previous for device, not manually tagged", src='/images/previous-no-human.png'  onclick="nextRecording('previous', 'any', 'no-human')" )
          input.col-xs-2(type="image", title="Previous for device", src='/images/previous.png'  onclick="nextRecording('previous', 'any')" )
          input.col-xs-2(type="image", title="Next for device", src='/images/next.png'  onclick="nextRecording('next', 'any')" )
          input.col-xs-2(type="image", title="Next for device, not manually tagged", src='/images/next-no-human.png'  onclick="nextRecording('previous', 'any', 'no-human')" )
          input.col-xs-2(type="image", title="Next for device, skipping birds & false-positives", src='/images/next-interesting.png'  onclick="nextRecording('previous', 'any', ['interesting'])" )
        div.clearfix

        div.hidden#detailedAddTagForm
          include includes/tags.pug
        include includes/tagSummary.pug

      div.vid-properties.col-12.col-lg-4
        h3 Video properties
        .form-horizonal
          .form-group
            label.col-xs-4 Processing
            col-xs-8#processing-state-text Unknown file state
          .form-group
            label.col-xs-4 Comment
            input.col-xs-6#comment-text
            | &nbsp;
            button.col(onclick="updateComment()") Save
          .form-group
            button.col(onclick="deleteRecording()") Delete Recording


