doctype html
html
  head
    title View Recording
    include includes/base.pug
    script(type'text/javascript').
      var id = !{id};
    script(type='text/javascript', src='/javascripts/viewRecording.js')
    link(href='/stylesheets/videoRecording.css', rel='stylesheet', media='screen')

  body
    include includes/navbar.pug

    .container
      h2 '
        i#device-text
        | '&nbsp;
        span#date-text
        | &nbsp;
        span#time-text
      .container.col-12.col-lg-8.video-and-quick-tags
        video#player.center-block(width=100, controls)
          Browser not supported for playing video.
        include includes/tagsQuick.pug
      div.col-12.col-lg-4
        .form-horizonal
          .form-group
            label.col-xs-3 Device
            .col#device-text2
          .form-group
            label.col-xs-3 Time
            .col
              span#date-text2
              | &nbsp;
              span#time-text2
          .form-group
            label.col-xs-3 Processing
            .col#processing-state-text
          .form-group
            label.col-xs-3 Comment
            input.col-xs-7#comment-text
            | &nbsp;
            button.col(onclick="updateComment()") Save
          .form-group
            button.col(onclick="deleteRecording()") Delete
          .form-group.button-row
            button.col-xs-4(onclick="nextRecording('previous', 'any')" title="Previous for device") < Device
            button.col-xs-4(onclick="nextRecording('next', 'any')" title="Next for device") Device >
          .form-group.button-row
            button.col-xs-4(onclick="nextRecording('previous', 'no-human')" title="Previous for device, not manually tagged") < Untagged
            button.col-xs-4(onclick="nextRecording('next', 'no-human')" title="Next for device, not manually tagged") Untagged >
          .form-group.button-row
            button.col-xs-4(onclick="nextRecording('previous', 'any', ['interesting'])" title="Previous for device, skipping bird & F/P") < Interesting
            button.col-xs-4(onclick="nextRecording('next', 'any', ['interesting'])" title="Next for device, skipping birds & F/P") Interesting >

    include includes/tags.pug
