.hero {
  background-image: url(/images/hero/hero-theory.jpg);
  background-position:  center;
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative;
  border-radius: 4px;
}

/* Mobiles */
.hero {
  height: 200px;
}

/* Large screens */
@media only screen and (min-width: 768px) {
  .hero {
    height: 360px;
  }
}
