.schedulesave input {
    border: 1px solid lightgrey;
    padding: 5px 5px;
    max-height: 80px;
    max-width: 80px;
}

.schedule-devices {
    padding: 0;
}

.schedule-devices input.add {
    border: 1px solid lightgrey;
    padding: 0px 0px;
    max-height: 40px;
    max-width: 40px;
    margin: 10px 0 0 0;
}

.schedule-devices .delete {
    padding: 3px;
}

.soundcombo {
    border: 1px solid lightgray;
}

.scheduleblock {
  margin: 2px;
}

input.delete {
    padding: 0 0 0 3px;
    margin-top: -5px;
    max-height: 32px;
    max-width: 32px;
}